*{
  padding: 0px;
  margin: 0px;

}












div{

margin: 0px;  
}
div{

padding: 0px;  
}


.bee {
    background-color: rgb(236, 236, 236);
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 10px 30px;
    padding: 5px 30px;
    list-style-type: none;
    margin: 40px auto;
    list-style: none;

}
.huhu{ background-color: rgb(255, 255, 255);
   
    
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 10px 30px;
    padding: 60px 20px;
    list-style-type: none;
    margin: 10px auto;
    list-style: none;
    gap: 2px;
    transition: transform 0.5s ease;
    display: inline-block;
    flex-direction: column;
    color:black; 



  


}






.huhu img{
width:300px;
height: 200px;
object-fit: cover;
border-radius: 15px;




}
.huhu:hover {
  transform: scale(1.05);
  justify-content: center;
  box-shadow: 0px 0px 40px rgba(255, 251, 0, 0.5);
}




.cece{display: flex;    
 
  gap: 5px;
   flex-wrap: wrap; 
    justify-content: center;
    gap: 70px;
  
}


.container {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 10px 30px;
    padding: 5px 30px;
    list-style-type: none;
    margin: 40px auto;
    list-style: none;



    
}
.container ul {
      list-style: none;   
    }



.fit {
  width: 900px;
  height: 430px;
  object-fit: cover;       
  object-position: center;   
}

h1{
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;                
  color: #000000;                       
  text-align: center;               
  text-transform: uppercase;        
  letter-spacing: 2px;            
  margin: 0px 0;  
  padding: 20px; 
  background-color: rgb(255, 255, 255);
  	text-shadow: 2px 2px 8px rgb(136, 136, 136);
    
  
}



h2{
   
  
  font-family: Arial, sans-serif;   
  font-size: 2.5rem;                
  color: #000000;                       
  text-align: center;               
  text-transform: uppercase;        
  letter-spacing: 2px;            
  margin: 0px 0;  
  padding: 20px; 
  background-color: rgb(255, 255, 255);
}
body{    background-color: rgb(231, 231, 231);
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    
    

}

nav{
    background-color: rgb(0, 0, 0);
    
    
}
nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  margin: 20;
  padding: 20;
  gap: 120px; 
  
  
}

nav ul li{
  
    width: 300px;
    
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    
}





nav ul li a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 15px;
    font-weight: bold;
      transition: color 0.4s ease, transform 0.5s ease;
      display: inline-block; 
    
    
}
nav ul li a:hover{
    
    color: rgb(255, 242, 0);
    font-weight: bold;
    transform: translateY(-3px);
  
}




img {
	
	box-shadow: 5px 5px 5px rgb(75, 75, 75);
    	border-radius: 10% 10% 10% 10%;
}


a{
    color:red;
    text-decoration: none; 
}